<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Twój profil - Edycja</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editform.dirty" class="alert alert-info">
        <p><strong>Informacja:</strong> Dokonałeś zmian. Wszelkie zmiany wymagaja zapisu</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ photoUrl }}" alt="user?.username">
        <div class="card-body">
          <div>
            <strong>Znak zodiaku:</strong>
            <p>{{ user.zodiacSign }}</p>
          </div>
          <div>
            <strong>Wiek:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Lokalizacja:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Ostatnia aktywność:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Użytkownik od:</strong>
            <p>{{ user.created }}</p>
          </div>
        </div>
        <div class="card-footer">
            <button [disabled]="!editform.dirty" form="editForm" class="btn btn-success btn-block">Zapisz zmiany</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <form #editform="ngForm" id="editForm" (ngSubmit)="updateUser()">
      <div class="tab-panel">
        <tabset>
          <tab heading="Informacje - Edycja">
            <table class="user-tab" style="width: 100%">
              <tr>
                <td style="width:50%">
                  <h5>Wzrost</h5>
                  <textarea class="form-control" name="growth" rows="1" [(ngModel)]="user.growth"></textarea>
                </td>
                <td style="width:50%">
                  <h5>Stan Cywilny</h5>
                  <textarea class="form-control" name="martialStatus" rows="1" [(ngModel)]="user.martialStatus"></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:50%">
                  <h5>Kolor Oczu</h5>
                  <textarea class="form-control" name="eyeColor" rows="1" [(ngModel)]="user.eyeColor"></textarea>
                </td>
                <td style="width:50%">
                  <h5>Wykształcenie</h5>
                  <textarea class="form-control" name="education" rows="1" [(ngModel)]="user.education"></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:50%">
                  <h5>Kolor Włosów</h5>
                  <textarea class="form-control" name="hairColor" rows="1" [(ngModel)]="user.hairColor"></textarea>
                </td>
                <td style="width:50%">
                  <h5>Zawód</h5>
                  <textarea class="form-control" name="profession" rows="1" [(ngModel)]="user.profession"></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:50%">
                  <h5>Dzieci</h5>
                  <textarea class="form-control" name="children" rows="1" [(ngModel)]="user.children"></textarea>
                </td>
                <td style="width:50%">
                  <h5>Języki Obce</h5>
                  <textarea class="form-control" name="languages" rows="1" [(ngModel)]="user.languages"></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:50%">
                  <h5>Miasto</h5>
                  <textarea class="form-control" name="city" rows="1" [(ngModel)]="user.city"></textarea>
                </td>
                <td style="width:50%">
                  <h5>Kraj</h5>
                  <textarea class="form-control" name="country" rows="1" [(ngModel)]="user.country"></textarea>
                </td>
              </tr>
            </table>
          </tab>
          <tab heading="O mnie">
            <h5>Motto życiowe</h5>
            <textarea class="form-control" name="motto" rows="4" [(ngModel)]="user.motto"></textarea>
            <h5>Opis</h5>
            <textarea class="form-control" name="description" rows="4" [(ngModel)]="user.description"></textarea>
            <h5>Osobowość</h5>
            <textarea class="form-control" name="personality" rows="4" [(ngModel)]="user.personality"></textarea>
            <h5>Szukam</h5>
            <textarea class="form-control" name="lookingFor" rows="4" [(ngModel)]="user.lookingFor"></textarea>
          </tab>
          <tab heading="Zainsteresowania">
            <h5>Zainteresowania</h5>
            <textarea class="form-control" name="interests" rows="1" [(ngModel)]="user.interests"></textarea>
            <h5>Czas wolny</h5>
            <textarea class="form-control" name="freeTime" rows="1" [(ngModel)]="user.freeTime"></textarea>
            <h5>Sport</h5>
            <textarea class="form-control" name="sport" rows="1" [(ngModel)]="user.sport"></textarea>
            <h5>Filmy</h5>
            <textarea class="form-control" name="movies" rows="1" [(ngModel)]="user.movies"></textarea>
            <h5>Muzyka</h5>
            <textarea class="form-control" name="music" rows="1" [(ngModel)]="user.music"></textarea>
          </tab>
          <tab heading="Preferencje">
            <h5>Lubię</h5>
            <textarea class="form-control" name="iLike" rows="1" [(ngModel)]="user.iLike"></textarea>
            <h5>Nie lubię</h5>
            <textarea class="form-control" name="idoNotLike" rows="1" [(ngModel)]="user.idoNotLike"></textarea>
            <h5>Rozśmiesza mnie</h5>
            <textarea class="form-control" name="makesMeLaugh" rows="1" [(ngModel)]="user.makesMeLaugh"></textarea>
            <h5>Najlepiej czuje się w</h5>
            <textarea class="form-control" name="itFeelsBestIn" rows="1" [(ngModel)]="user.itFeelsBestIn"></textarea>
            <h5>Przyjaciele opisali by mnie</h5>
            <textarea class="form-control" name="friendeWouldDescribeMe" rows="1" [(ngModel)]="user.friendeWouldDescribeMe"></textarea>
          </tab>
          <tab heading="Zdięcja">
           <app-photos [photos]="user.photos" (getUserPhotoChange)="updateMainPhoto($event)"></app-photos>
          </tab>
        </tabset>
      </div>
      </form>
    </div>
  </div>
</div>
