<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul *ngIf="loggedIn()" class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['/uzytkownicy']">Użytkownik</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/polubienia']">Polubienia</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['/wiadomosci']">Wiadomości</a>
        </li>
      </ul>
      <div *ngIf="!loggedIn()"class="navbar-nav me-auto mb-2 mb-md-0"></div>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="me-4">
          <img src="{{ photoUrl || '../../../../assets/user.jpg' }}" />
        </span>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Witaj {{ authService.decodeToken?.unique_name | titlecase }}
        </a>
      
        <ul class="dropdown-menu mt-4" *dropdownMenu> 
          <li><a class="dropdown-item" [routerLink]="['/uzytkownicy/edycja']"><i class="fa fa-user"></i>Edytuj profil</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" (click) = "logout()"><i class="fa fa-sign-out"></i>Wyloguj</a></li>
        </ul>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()">
        <input class="form-control me-2" type="text" placeholder="Login" [(ngModel)]="model.username" name="username" required >
        <input class="form-control me-2" type="password" placeholder="Password" [(ngModel)]="model.password" name="password" required >
        <button [disabled]="!loginForm.valid" class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>