<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Rejestracja</h2>
  <hr>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Login" required name="login" [(ngModel)] = "model.username">
  </div>
  <div class="form-group mt-3">
      <input type="password" class="form-control" placeholder="Hasło" required name="password" [(ngModel)] = "model.password">
  </div>
  <div class="form-group text-center mt-3">
      <button class="btn btn-success" type="submit">Rejestruj</button>
      <button class="btn btn-default" type="button" (click) = "cancel()">Anuluj</button>
  </div>
</form>